streamlit
PyPDF
pdfplumber
pymupdf
langchain
langchain-community
pdf2image
pytesseract
pillow
numpy
faiss-cpu
ctransformers
sentence-transformers
tesseract
python-multipart
opencv-python-headless
poppler-utils
tesseract-ocr

